<div class="containerr">
  <div class="bg-dark border-right p-3 hero-container" id=":)">
    <div class="sign enviroment stack" style="--stacks:2;">
      <span class="fast-flicker hero glitch layers" style="--index:0;">Welcome</span><span class="fast-flicker hero glitch layers" style="--index:1;">Welcome</span><span class="flicker glitch" style="--index:2;">Welcome</span><span class="fast-flicker hero glitch layers" style="--index:3;">Welcome</span><span class="fast-flicker hero glitch layers" style="--index:4;">Welcome</span>
    </div>
    <!-- <div>
      <span class="fast-flicker hero layers">To Robo</span><span class="flicker hero glitch layers" style="--stacks:3;">fri</span><span class="fast-flicker hero">ends</span>
    </div> -->
    <div class="container2">
      <div class="row list-group r">
        <h2 class="col-md-4 list-group-item list-group-item-action">---</h2>
        <span class="col-md-4 fast-flicker hero layers">To Robo</span><span class="flicker hero glitch layers" style="--stacks:3;">fri</span><span class="fast-flicker hero">ends</span>
        <app-search class="comp2 fast-flicker glitch layers card2"></app-search>
      </div>
    </div>
      <div class="container">
      <div class="row list-group">
        <h2 class="col-md-4 list-group-item list-group-item-action">RoboTeams</h2>
        <app-characters class="comp fast-flicker glitch layers card"></app-characters>
      </div>
    </div>
  </div>
</div>