@font-face {
    font-family: Clip;
    src: url("./SEGA.TTF");
  }
  
  /* body {
    background: linear-gradient(to right, #c94b4b, #4b134f);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  } */
  
  .sign {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top:7%;
    width: 100vh;
    height: 100%;
    cursor: default;
    user-select: none;
    background-image: radial-gradient(
      ellipse 50% 55% at 50% 70%,
      #7D55FF,
      transparent
    );
    transform: translate(-50%, -40%);
    letter-spacing: 3;
    left: 50%;
    top: 35%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 3.5em;
    color: #ffe6ff;
    text-shadow: 0 0 0.9rem #ffe6ff, 0 0 3.5rem #8467D7,
      -0.2rem 0.1rem 1rem #7A5DC7, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #893BFF, 0 0.5rem 3rem #A74AC7;
    animation: shine 10s forwards, flicker 0.1s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe9ff;
      text-shadow: 0 0 0.9rem #ffe6ff, 0 0 1.5rem #FF4B2B,
        -0.2rem 0.1rem 1rem #ff9966, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #516395, 0 0.5rem 3rem #ff5e62;
    }
    28%,
    33% {
      color: #6D22FF;
      text-shadow: none;
    }
    82%,
    97% {
      color: #8D55FF;
      text-shadow: none;
      animation:shine 1s forwards, blink 3s 2s infinite;
    }
  }
  
  .flicker {
    animation: shine 1s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 1s forwards, blink 3s 1s infinite;
  }
  
  @keyframes shine {
    10% {
      color: #7D55FF;
      text-shadow: none;
    }
    90% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #FF4B2B,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff9966, 0 0.5rem 3rem #ff5e62;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }

    /* aca termina el efecto neon */
    
}
   
    /* ACA EMPIEZA EL EFECTO GLITCH */
    .hero {
        /* font-size: clamp(40px, 10vw, 100px); */
        line-height: 1;
        display: inline-block;
        color: #fff;
        z-index: 2;
        letter-spacing: 10px;
        filter: drop-shadow(0 1px 3px);
      }
      
      .demo {
        height: 100px;
        background: #fff;
      }
      
      .layers {
        position: relative;
      }
      
      .layers::before,
      .layers::after {
        content: attr(data-text);
        position: absolute;
        width: 110%;
        z-index: -1;
      }
      
      .layers::before {
        top: 10px;
        left: 15px;
        color: #e0287d;
      }
      
      .layers::after {
        top: 5px;
        left: -10px;
        color: #1bc7fb;
      }
      
      .single-path {
        clip-path: polygon(
          0% 12%,
          53% 12%,
          53% 26%,
          25% 26%,
          25% 86%,
          31% 86%,
          31% 0%,
          53% 0%,
          53% 84%,
          92% 84%,
          92% 82%,
          70% 82%,
          70% 29%,
          78% 29%,
          78% 65%,
          69% 65%,
          69% 66%,
          77% 66%,
          77% 45%,
          85% 45%,
          85% 26%,
          97% 26%,
          97% 28%,
          84% 28%,
          84% 34%,
          54% 34%,
          54% 89%,
          30% 89%,
          30% 58%,
          83% 58%,
          83% 5%,
          68% 5%,
          68% 36%,
          62% 36%,
          62% 1%,
          12% 1%,
          12% 34%,
          60% 34%,
          60% 57%,
          98% 57%,
          98% 83%,
          1% 83%,
          1% 53%,
          91% 53%,
          91% 84%,
          8% 84%,
          8% 83%,
          4% 83%
        );
      }
      
      .paths {
        animation: paths 5s step-end infinite;
      }
      
      @keyframes paths {
        0% {
          clip-path: polygon(
            0% 43%,
            83% 43%,
            83% 22%,
            23% 22%,
            23% 24%,
            91% 24%,
            91% 26%,
            18% 26%,
            18% 83%,
            29% 83%,
            29% 17%,
            41% 17%,
            41% 39%,
            18% 39%,
            18% 82%,
            54% 82%,
            54% 88%,
            19% 88%,
            19% 4%,
            39% 4%,
            39% 14%,
            76% 14%,
            76% 52%,
            23% 52%,
            23% 35%,
            19% 35%,
            19% 8%,
            36% 8%,
            36% 31%,
            73% 31%,
            73% 16%,
            1% 16%,
            1% 56%,
            50% 56%,
            50% 8%
          );
        }
      
        5% {
          clip-path: polygon(
            0% 29%,
            44% 29%,
            44% 83%,
            94% 83%,
            94% 56%,
            11% 56%,
            11% 64%,
            94% 64%,
            94% 70%,
            88% 70%,
            88% 32%,
            18% 32%,
            18% 96%,
            10% 96%,
            10% 62%,
            9% 62%,
            9% 84%,
            68% 84%,
            68% 50%,
            52% 50%,
            52% 55%,
            35% 55%,
            35% 87%,
            25% 87%,
            25% 39%,
            15% 39%,
            15% 88%,
            52% 88%
          );
        }
      
        30% {
          clip-path: polygon(
            0% 53%,
            93% 53%,
            93% 62%,
            68% 62%,
            68% 37%,
            97% 37%,
            97% 89%,
            13% 89%,
            13% 45%,
            51% 45%,
            51% 88%,
            17% 88%,
            17% 54%,
            81% 54%,
            81% 75%,
            79% 75%,
            79% 76%,
            38% 76%,
            38% 28%,
            61% 28%,
            61% 12%,
            55% 12%,
            55% 62%,
            68% 62%,
            68% 51%,
            0% 51%,
            0% 92%,
            63% 92%,
            63% 4%,
            65% 4%
          );
        }
      
        45% {
          clip-path: polygon(
            0% 33%,
            2% 33%,
            2% 69%,
            58% 69%,
            58% 94%,
            55% 94%,
            55% 25%,
            33% 25%,
            33% 85%,
            16% 85%,
            16% 19%,
            5% 19%,
            5% 20%,
            79% 20%,
            79% 96%,
            93% 96%,
            93% 50%,
            5% 50%,
            5% 74%,
            55% 74%,
            55% 57%,
            96% 57%,
            96% 59%,
            87% 59%,
            87% 65%,
            82% 65%,
            82% 39%,
            63% 39%,
            63% 92%,
            4% 92%,
            4% 36%,
            24% 36%,
            24% 70%,
            1% 70%,
            1% 43%,
            15% 43%,
            15% 28%,
            23% 28%,
            23% 71%,
            90% 71%,
            90% 86%,
            97% 86%,
            97% 1%,
            60% 1%,
            60% 67%,
            71% 67%,
            71% 91%,
            17% 91%,
            17% 14%,
            39% 14%,
            39% 30%,
            58% 30%,
            58% 11%,
            52% 11%,
            52% 83%,
            68% 83%
          );
        }
      
        76% {
          clip-path: polygon(
            0% 26%,
            15% 26%,
            15% 73%,
            72% 73%,
            72% 70%,
            77% 70%,
            77% 75%,
            8% 75%,
            8% 42%,
            4% 42%,
            4% 61%,
            17% 61%,
            17% 12%,
            26% 12%,
            26% 63%,
            73% 63%,
            73% 43%,
            90% 43%,
            90% 67%,
            50% 67%,
            50% 41%,
            42% 41%,
            42% 46%,
            50% 46%,
            50% 84%,
            96% 84%,
            96% 78%,
            49% 78%,
            49% 25%,
            63% 25%,
            63% 14%
          );
        }
      
        90% {
          clip-path: polygon(
            0% 41%,
            13% 41%,
            13% 6%,
            87% 6%,
            87% 93%,
            10% 93%,
            10% 13%,
            89% 13%,
            89% 6%,
            3% 6%,
            3% 8%,
            16% 8%,
            16% 79%,
            0% 79%,
            0% 99%,
            92% 99%,
            92% 90%,
            5% 90%,
            5% 60%,
            0% 60%,
            0% 48%,
            89% 48%,
            89% 13%,
            80% 13%,
            80% 43%,
            95% 43%,
            95% 19%,
            80% 19%,
            80% 85%,
            38% 85%,
            38% 62%
          );
        }
      
        1%,
        7%,
        33%,
        47%,
        78%,
        93% {
          clip-path: none;
        }
      }
      
      .movement {
        /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
        position: relative;
        animation: movement 4s step-end infinite;
      }
      
      @keyframes movement {
        0% {
          top: 0px;
          left: -20px;
        }
      
        15% {
          top: 10px;
          left: 10px;
        }
      
        60% {
          top: 5px;
          left: -10px;
        }
      
        75% {
          top: -5px;
          left: 20px;
        }
      
        100% {
          top: 10px;
          left: 5px;
        }
      }
      
      .opacity {
        animation: opacity 5s step-end infinite;
      }
      
      @keyframes opacity {
        0% {
          opacity: 0.1;
        }
      
        5% {
          opacity: 0.7;
        }
      
        30% {
          opacity: 0.4;
        }
      
        45% {
          opacity: 0.6;
        }
      
        76% {
          opacity: 0.4;
        }
      
        90% {
          opacity: 0.8;
        }
      
        1%,
        7%,
        33%,
        47%,
        78%,
        93% {
          opacity: 0;
        }
      }
      
      .font {
        animation: font 7s step-end infinite;
      }
            
      .glitch span {
        animation: paths 3s step-end infinite;
      }
      
      .glitch::before {
        animation: paths 2s step-end infinite, opacity 2s step-end infinite,
          font 4s step-end infinite, movement 5s step-end infinite;
      }
      
      .glitch::after {
        animation: paths 5s step-end infinite, opacity 5s step-end infinite,
          font 5s step-end infinite, movement 4s step-end infinite;
      }
      
      .hero-container {
        position:relative;
        /* padding: 100px 100px; */
        text-align: center;
      }
      
      .environment {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        filter: blur(5px);
      }

      .stack {
        display: grid;
        grid-template-columns: 1fr;
      }
      
      .stack span {
        /* font-weight: bold; */
        grid-row-start: 1;
        grid-column-start: 1;
        /* font-size: 4rem; */
        --stack-height: calc(100% / var(--stacks) - 1px);
        --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
        --clip-top: calc(var(--stack-height) * var(--index));
        --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
        clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
        animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
      }
      
      .stack span:nth-child(odd) { --glitch-translate: 8px; }
      .stack span:nth-child(even) { --glitch-translate: -8px; }
      
      @keyframes stack {
        0% {
          opacity: 0;
          transform: translateX(-50%);
          text-shadow: -2px 3px 0 #C45AEC, 2px -3px 0 #9D00FF;
        }
        60% {
          opacity: 0.5;
          transform: translateX(50%);
        }
        80% {
          transform: none;
          opacity: 1;
          text-shadow: 2px -3px 0 #A23BEC, -2px 3px 0 #A74AC7;
        }
        100% {
          text-shadow: none;
        }
      }
      
      @keyframes glitch {
        0% {
          text-shadow: -2px 3px 0 #FF5733, 2px -3px 0 #9D00FF;
          transform: translate(var(--glitch-translate));
        }
        2% {
          text-shadow: 2px -3px 0 #FF5733, -2px 3px 0 #83EEFF;
        }
        4%, 100% {  text-shadow: none; transform: none; }
      }
      
      
    /* ACA TERMINA EL EFECTO GLITCH */

.container{
    text-align:left;
        
}
.container2{
  text-align:right;
      
}
h2{
    color: 	#FBFFFF;
    font-size: 130%;
    height: 200%;
    text-decoration: none;
    cursor: default;
    text-shadow: 0 0 0.9rem #ffe6ff, 0 0 3.5rem #FF4B2B,
    -0.2rem 0.1rem 1rem #ff9966, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff5e62;
    animation: shine 1s forwards, flicker 0.1s infinite;
}
p{
    color: #ffe6ff;
    font-size: 130%;
    height: 200%;
    text-decoration: none;
}
.comp{
  position:static;
  top: 20px;
  /* width: 500vh; */
}
.comp2{
  position:static;
  top: 20px;
  /* width: 500vh; */
}
.card{
  box-sizing: border-box;
  border-style: none;
  float:left;
  width: 25%;
  padding: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background: linear-gradient(to top, #fb00ff2a, #00dade5b);
  /* width: 100%; */
  display: block;
  margin-bottom: 2px;
  border-radius: 30px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  transition: all .2s ease-in-out; 
}
.card:hover{
  background: linear-gradient(to top,#00dade9d , #fb00ff98);
  text-shadow: 0 0 0.9rem #ffe6ff, 0 0 3.5rem #f5674e,
    -0.2rem 0.1rem 1rem #faa981, 0.2rem 0.1rem 1rem #fc54b3,
    0 -0.5rem 2rem #fa197b, 0 0.5rem 3rem #fd7073;
  animation: shine 1s forwards, flicker 0.1s infinite;
  perspective: 10px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* transform: rotateY(360deg); */
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.527);
  /* transform: scale(1.1); */
}
.r{
  text-align: right;
  width: 95%;
}
.card2{
  box-sizing: border-box;
  border-style: none;
  float:right;
  width: 25%;
  padding: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background: linear-gradient(to top, #fb00ff2a, #00dade5b);
  /* width: 100%; */
  display: block;
  margin-bottom: 2px;
  border-radius: 30px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  transition: all .2s ease-in-out; 
}
.card2:hover{
  background: linear-gradient(to top,#00dade9d , #fb00ff98);
  text-shadow: 0 0 0.9rem #ffe6ff, 0 0 3.5rem #f5674e,
    -0.2rem 0.1rem 1rem #faa981, 0.2rem 0.1rem 1rem #fc54b3,
    0 -0.5rem 2rem #fa197b, 0 0.5rem 3rem #fd7073;
  animation: shine 1s forwards, flicker 0.1s infinite;
  perspective: 10px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* transform: rotateY(360deg); */
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.527);
  /* transform: scale(1.1); */
}