<p>Team First Robots</p>
<div class="row">
    <div class="column">
        <div className="card">
            <img src='https://robohash.org/${id}?200x200' alt="robots"/>
            <h2>Number One</h2>
         <div>
    </div>
    <div class="column">
        <div className="card">
            <img src='https://robohash.org/2600:6c5e:357f:e274:dd4:78bb:b35f:924d.png' alt="robots"/>
            <h2>Number Two</h2>
        <div>
    </div>
    <div class="column">
        <div className="card">
            <img src='https://robohash.org/1' alt="robots"/>
            <h2>Number Three</h2>
        <div>
    </div>
    <div class="column">
        <div className="card">
            <img src='https://robohash.org/4' alt="robots"/>
            <h2>Number Four</h2>
        <div>
    </div>
  </div>
